@import 'nativescript-theme-core/css/core.light.css';

Page {
    margin: 0;
}

label {
    margin: 10 0;
    font-family: "Helvetica";
    font-size: 20;
    text-align: center; 
}

.header {
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 25;
}

.weather-icon {
    margin: 10 40;
}

.large {
    font-size: 60;
    vertical-align: top;
}

.small {
    font-size: 25;
    margin: 0;
    text-align: left;
}

.tight {
    margin: 5
}

.caption {
    font-size: 50;
    margin-top: 120;
}